*{
    margin: 0px;
    padding: 0px;
}
#out{
    border: solid 2px;
    height: 640px;
    background-image: url(pizz.jpg);
    background-repeat: no-repeat;
    background-size: 1350px 650px;
}
h1{
    color: blanchedalmond;
    font-size: 50px;
    margin-top: 50px;
    margin-left: 60px;   
}
#Register,#Login{
    height: 30px;
    width: 100px;
    background-color: orange;
    
}
#Register a,#Login a{
    color: crimson;
    font-size: 30;
    text-decoration: none;
}
#Register{
    margin-left: 100px;
}
#Register:hover{
    background-color:palevioletred;
}
#Login:hover{
    background-color:palevioletred;
}